*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Poppins';
    font-size: 0.0875rem;
    opacity: 1;
    overflow-y: scroll;
    margin: 0;
    background: #f1fbff;

  }

  a {
    cursor: pointer;
    text-decoration: none;
  }

  li {
    list-style: none;
  }

  .wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
  }

  #sidebar {
    max-width: 264px;
    min-width: 264px;
    background: #003277;
    transition: all 0.35s ease-in-out;
  }

  .main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    width: 100%;
  }

  .logo {
    height: 40px;
  }

  /* SIDEBAR */

.sidebar-logo {
    padding: 1.15rem;
}

  .sidebar-nav {
    flex-grow: 1;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 0;
}

.sidebar-header {
    color: #e9ecef;
    font-size: .75rem;
    padding: 1.5rem 1.5rem .375rem;
}

.sidebar-item:hover {
  background-color: #f1fbff; 
  border-radius: 15px 0 0 15px;

}
.sidebar-item:hover .sidebar-link {
  color: #003277;

}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #e9ecef;
    position: relative;
    display: block;
    font-size: 0.875rem;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.avatar {
    height: 40px;
    width: 40px;
}

.navbar-expand .navbar-nav {
    margin-left: auto;
}

.content {
    flex: 1;
    max-width: 100vw;
    width: 100vw;
}

@media (min-width:768px) {
    .content {
        max-width: auto;
        width: auto;
    }
}



/* Sidebar Toggle */

#sidebar.collapsed {
    margin-left: -264px;
}

/*  Nav */

@media (max-width:767.98px) {

    .js-sidebar {
        margin-left: -264px;
    }

    #sidebar.collapsed {
        margin-left: 0;
    }

}

.logout {
  position: absolute;
  bottom: 0;
}

.alert {
  height: 100px;
  font-size: 12px;
  width: 100%;
}

/* DASHBOARD CONTENT */


/* USERS CONTENT */
